{
{% if k8s_cri_insecure_registry is defined %}
  "insecure-registries": {{k8s_cri_insecure_registry | to_json }},
{% endif %}
  "exec-opts": ["native.cgroupdriver={{k8s_cri_cgroupdriver}}"],
  "log-driver": "{{k8s_cri_log_driver}}",
  "log-opts": {
    "max-size": "{{k8s_cri_log_opts.max_size}}"
  },
  "storage-driver": "overlay2",
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
}
