{
  "auths": {
{% for cred in k8s_install_registry_config  %}
    "{{cred.url}}": {
      "auth": "{{ (cred.user + ':' + (cred.password | string)) | b64encode }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  }
}
