---
apiServer:
{% if k8s_install_alternative_hostname_api is defined %}
  certSANs:
{% for item in k8s_install_alternative_hostname_api %}
  - {{ item }}
{% endfor %}{% endif %}
  extraArgs:
    authorization-mode: Node,RBAC
  timeoutForControlPlane: 4m0s
apiVersion: kubeadm.k8s.io/v1beta2
certificatesDir: /etc/kubernetes/pki
clusterName: {{ stand }}
controllerManager: {}
{% if k8s_install_control_plane_endpoint is defined %}
controlPlaneEndpoint: {{ k8s_install_control_plane_endpoint }}
{% endif %}
dns:
  type: CoreDNS
etcd:
  local:
    dataDir: /var/lib/etcd
imageRepository: {{ service_docker_repo }}
kind: ClusterConfiguration
{% if k8s_install_version is defined %}
kubernetesVersion: v{{ k8s_install_version }}
{% endif %}
networking:
  dnsDomain: cluster.local
{% if k8s_install_pod_network_cidr is defined %}
  podSubnet: {{ k8s_install_pod_network_cidr }}
{% endif %}
  serviceSubnet: 10.96.0.0/12
scheduler: {}
{% if cgroup_driver == 'systemd' %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
{% endif %}
