# Global settings
#---------------------------------------------------------------------
global
    maxconn     20000
    log         /dev/log local0 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
#    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 20000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /

frontend  kuber-api
    bind *:6443
    default_backend kuber-api-back
    mode tcp
    option tcplog

# Backends

backend kuber-api-back
    balance source
    mode tcp
    server  {{k8s_install_master_node}} {{k8s_install_master_node}}:6443 check fall 3 rise 2
{#{% if k8s_install_master_node_other is defined and k8s_install_master_joined is defined and k8s_install_master_joined %}#}
{% for host in k8s_install_master_node_other %}
    server  {{host}} {{host}}:6443 check fall 3 rise 2
{% endfor %}
{#{% endif %}#}

{% if k8s_loadbalance_infra_nodes is defined %}
frontend  kuber-http
    bind *:80
    default_backend kuber-http-back
    mode tcp
    option tcplog

frontend  kuber-https
    bind *:443
    default_backend kuber-https-back
    mode tcp
    option tcplog

backend kuber-http-back
    balance source
    mode tcp
{% for host in k8s_loadbalance_infra_nodes %}
    server  {{host}} {{hostvars[host]['ansible_host']}}:80 check fall 3 rise 2
{% endfor %}

backend kuber-https-back
    balance source
    mode tcp
{% for host in k8s_loadbalance_infra_nodes %}
    server  {{host}} {{hostvars[host]['ansible_host']}}:443 check fall 3 rise 2
{% endfor %}
{% endif %}
